<div ng-controller="reservationsController" class="container-fluid">
  Date: <input ng-model="search.date" /><br><br>

  Date: <select  ng-model="search.date">
    <option ng-repeat="date in dates" value="{{date}}">{{date}}</option>
  </select>

  <table class="table table-striped">
    <thead>
      <th>
        <td>Time</td>
        <td>Seats</td>
      </th>
    </thead>
    <tbody>
      <tr ng-repeat="reservation in reservations | filter:search:strict | filter:matchAmount | orderBy: 'date'">
        <td></td>
        <td>{{ reservation.start_time| date:'HH:mm a' }}</td>
        <td>{{ reservation.seats }}</td>
        <td><a href="/reservations/{{reservation.id}}">Show</a></td>
      </tr>
    </tbody>
  </table>




</div>