<%- model_class = Restaurant -%>
<div ng-controller="mapController" class="container-fluid">
  <div>
    <div ng-if="hello" id="map_canvas">
      <google-map center="map.center", zoom="map.zoom", options="options">
        <marker ng-repeat="restaurant in restaurants | filter:search:strict" coords="{ latitude: restaurant.lat, longitude: restaurant.lng}" idkey="restaurant.id" options="{ visible: restaurant.hide }">
          <marker-label content="restaurant.name" anchor="2 0"/>
        </marker>
      </google-map>
    </div>

    <div class="well well-lg" ng-show="boo">
      City: <input id="radio_1" ng-model="search.city" type="radio" name="city" value="London"> London <input id="radio_2" ng-model="search.city" type="radio" name="city" value="Edinburgh"> Edinburgh<br><br>
      Name: <input id="search_name" ng-model="search.name" /><br><br>
      Food Style:<select id="search_select" ng-model="search.food_style">
        <option ng-repeat="style in food_styles" value="{{style}}">{{style}}</option>
      </select><br><br>
      Average Price: <input id="search_price" ng-keyup="numSearch()" ng-model="nums" />
    </div>

    <div ng-if="hello" ng-hide="boo">
      <a class='btn btn-primary' href="" ng-click="showSearch()">Search</a>
    </div>

    <div ng-hide="hello">
      <div class="well well-lg">
        <h1>Hello <%= current_user.username%>!</h1>
        <h4>
          Bare with me a wee minute while the map loads.  It will be with you shortly.  Please contact the Restaurant with any questions and if you wish to add your establishment please contact the website Admin.
        </h4>

      </div>
    </div>

    <div ng-if="hello" class="continer-fluid">
      <div class="col-md-8">
        <table class="table table-striped">
          <thead>
            <tr>
              <th><%= model_class.human_attribute_name(:name) %></th>
              <th><%= model_class.human_attribute_name(:average_price_per_meal) %></th>
              <th><%= model_class.human_attribute_name(:distance) %></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="restaurant in restaurants | filter:search:strict | filter:matchAmount | orderBy: 'distance' | startFrom:currentPage*pageSize | limitTo:pageSize" ng-click="selectRestaurant(restaurant)" ng-show="restaurant.hide">
              <td>{{ restaurant.name }}</td>
              <td>£{{ restaurant.price }}</td>
              <td>{{ restaurant.distance }}km</td>
            </tr>
          </tbody>
        </table>

        <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">Previous</button>
        {{currentPage+1}}/{{numberOfPages()}}
        <button ng-disabled="currentPage >= restaurants.length/pageSize - 1" ng-click="currentPage=currentPage+1">Next</button>
        </div>
      </div>
      <div class="col-md-4">
        <div class="well well-lg" ng-show="selectedRestaurant">
          <a class='btn btn-primary close' href="/restaurants/{{selectedRestaurant.id}}">Show</a>
          Name: {{ selectedRestaurant.name }}<br>
          Average Price: £{{ selectedRestaurant.price }}<br>
          Distance: {{ selectedRestaurant.distance }} km<br>
          Food Style: {{selectedRestaurant.food_style}}<br>
        </div>
      </div>
    </div>


  </div>
  </br>
  </br>
</div>
