<div ng-controller="findController" class="ng-scope">

<%- model_class = Restaurant -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
<a id="find_me" class='btn btn-primary' href="" ng-click="pleaseFindMe()">Find Me!</a>
<%= render :partial => 'form' %>

</div>