= direct_upload_form_for @uploader do |f|
  %p= f.file_field :picture
  %p= f.submit "Upload Image"

.row
  - @images.each do |image|
    .col-lg-12
      %a.thumbnail{:href => "#"}
        %img{:alt => "...", :src => image.picture.url}/